html {
    font-family: "Crimson Pro", serif;
    background-color: rgb(236, 246, 250);
}
h1 {
    font-size: 100px;
    text-align: center;
    border: solid black;
      text-shadow: 3px 3px 5px rgb(148, 139, 139);
  }
  p {border: solid red;
  text-align: center;}
  p , li {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  body {
    width: 800px;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    background-color: rgba(253, 255, 255, 0.514);
    border: 10px black solid;
  }
